{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">    
    <title>Image display</title>
</head>
<body>
    <div class="container mt-3">
        <h1>Upload file</h1>
          <form method="post" enctype="multipart/form-data">
              {%csrf_token%}
            {{ form.as_p }}
            <button type="submit">Upload</button>
         </form>

    </div>
     
</body>
</html>